* {
  font-family: "Montserrat";
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 128px;
  position: sticky;
  top: 0;
  background-color: #ffc108;
}

nav > a:hover {
  background-color: blue;
}

#header h1 {
  margin: 0;
}

section {
  padding: 64px 128px;
}

#landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
}

#landing p {
  margin-bottom: 32px;
}

#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
}

.service-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 128px;
  margin-top: 50px;
}

#about > div {
  width: 50%;
}

h1 {
  font-size: 25px;
  margin: 0 0 16px 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  padding-left: 10px;
}

p {
  color: grey;
  font-size: 24px;
  margin: 0 0 16px 0;
}

.btn {
  background-color: #ffc108;
  color: white;
  padding: 8px 24px;
}

.btn-kiri {
  background-color: white;
  color: black;
  margin-right: 16px;
  border: 2px solid #ffc108;
}

.contact-detail {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.input-group input {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

footer {
  padding: 16px 128px;
  background-color: #ffc108;
  display: flex;
  justify-content: space-between;
}
